@font-face {
  font-family: 'Montserrat';
  src: url(/css/font/Montserrat-SemiBold.ttf);
}
body{
  font-size: 16px;
  font-family: 'Calibri', sans-serif;
  color: #333;
}

/* nav menu */
.menu-list .menu-title span {
  margin-top: 20px;
  padding-bottom: 16px;
  margin-bottom: 35px;
  display: block;
  position: relative;
}
.menu-list .menu-title span:after{
  position: absolute;
  content: '';
  width: 100px;
  border-bottom: 2px solid #b52026;
  bottom: 0;
  left: 0;
}
.menu-list .menu-title span:after{
  left: 50%;
  transform: translateX(-50%);
}
.menu-title{
  font-family: 'Montserrat';
  font-size: 25px;
  position: relative;
  margin: 0;
  text-transform: uppercase;
  color: #b52026;
  line-height: 30px;
  font-weight: bold;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
  cursor: default;
  background-color: #3E3E3E;
}
.nav {
  display: flow-root;
}
.nav-tabs {
  border: none;
  padding-bottom: 20px !important;
}
.nav-tabs>li.active>a{
  color: #fff;
  cursor: default;
  background-color: #3E3E3E;
}
.nav-tabs>li {
  width: 20%;
  background: #E9E9E9;
  margin-bottom: 20px;
  position: relative;
  float: left;
}
.nav-tabs>li>a {
  display: block;
  color: #333;
  border: none !important;
  padding: 10px 5px;
  font-size: 19px;
}

.nav-tabs>li:not(:nth-child(5n))>a:after {
  position: absolute;
  content: '';
  width: 0;
  height: 20px;
  border-right: 1px solid #666;
  top: 13px;
  right: 0;
}
.nav-tabs>li:last-child>a:after {
  display: none;
}

/* book */
.book {
  padding: 10px;
  margin-bottom: 150px;
}
.menu-book {
  width: 100%;
  border: 2px solid #3E3E3E;
}
.menu-book .row {
  margin: 0;
}
.menu-book [class*='col-'] {
  padding: 0;
}

.box-menu {
  display: flex;
}
.box-menu .page {
  padding: 30px;
}
.box-menu .img-left {
  position: relative;
  width: 50%;
}
.box-menu .img-right {
  position: relative;
  width: 50%;
}
.box-menu .slide-one-tab {
  left: 25%;
  height: 558px;
}
/* lá» */
.wowbook-gutter-shadow-left {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0.5px;
}
.wowbook-gutter-shadow-right {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.5px;
}
.wowbook-gutter-shadow-left {
  background: url(/img/huy-img/menu-img/gutter_shadow_left.png) right top repeat-y;
  width: 70px;
}
.wowbook-gutter-shadow-right {
  background: url(/img/huy-img/menu-img/gutter_shadow_right.png) right top repeat-y;
  width: 40.5px;
}


/* text */
.box-menu .book-wrap-text {
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-menu .book-wrap-text > div {
  width: 100%;
  padding: 20px;
}
.box-menu .book-wrap-text h4 {
  margin: 0;
  font-size: 25px;
  font-weight: normal;
  color: #000;
}

/* Carousel */
.owl-dots {
  display: none;
}
.owl-nav {
  position: absolute;
  left: 43%;
  padding-top: 20px;
}
.owl-nav button  {
  margin-left: 20px;
}
.owl-nav button i {
  background: #dfdfdf !important;
  color: #666 !important;
  font-size: 22px;
  width: 44px;
  height: 44px;
  text-align: center;
  display: block;
  padding: 13px;
  margin-top: 5px;
}
.hidden-mobile {
  display: none;
}
@media (min-width: 1200px) {
  .container{
    max-width: 1170px;
  }
}
@media screen and (max-width: 991px) {
  .container{
    max-width: 750px;
    height: 855px;
  }

  /* nav menu */
  .nav-tabs {
    padding-bottom: 10px !important;
  }
  .nav-tabs>li {
    margin: 0;
    width: 50%;
  }
  .nav-tabs>li>a {
    font-size: 14px;
    margin: 0;
    border-radius: 0px !important;
  }
  .nav-tabs>li:not(:nth-child(5n))>a:after {
    display: none;
  }
  .nav-tabs>li:not(:nth-child(2n))>a:after {
    position: absolute;
    content: '';
    width: 0;
    height: 20px;
    border-right: 1px solid #666;
    top: 13px;
    right: 0;
    display: block;
  }

  /* book */
  .menu-book {
    border: none;
  }
  .hidden-menu{
    display: none !important;
  }

  /* menu mobile  */
  .list-menu-mobile .item-img {
    padding: 30px;
  }
  .hidden-mobile{
    display: block;
  }

  /* carousel */
  .owl-nav {
    display: none;
  }
}