@import url("header.css");

.main {
  width: 1220px;
  margin: 8rem auto 3rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
}
.title h1 {
  color: #fff;
  font-size: 35px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.border-main {
  display: flex;
  justify-content: space-between;
}
.avt {
  width: 30%;
}
.avt img {
  object-fit: cover;
  border-radius: 50%;
  width: 350px;
  height: 350px;
}
.content {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  color: #fff;
  width: 65%;
}
.content h2 {
  font-size: 28px;
  color: #18d26e;
}
.information {
  display: flex;
  border: none;
  width: 700px;
  margin-bottom: 15px;
}
.information li {
  list-style: none;
  margin-left: 10px;
  margin-top: 15px;
}
.information i {
  margin-right: 10px;
  color: #18d26e;
}
.information ul {
  display: flex;
  flex-direction: column;
  border: none;
  width: 350px;
}

.item {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 2rem;
}
.item .box {
  position: relative;
  padding: 30px 30px 25px 30px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 250px;
  height: 125px;
  color: #fff;
  text-align: center;
}
.item .box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  font-size: 30px;
  color: #18d26e;
}
.item .box h1 {
  font-size: 35px;
}
.item .box p {
  font-size: 14px;
}

.skill {
  position: relative;
  margin-top: 65px;
  margin-left: 5px;
  color: rgba(255, 255, 255, 0.6);
}
.skill::after {
  position: absolute;
  content: "";
  border-bottom: 1px solid rgb(26, 219, 26);
  width: 125px;
  top: 8px;
  left: 60px;
}

.BXH {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 2rem;
}
.BXH .box1 {
  color: #fff;
}
.BXH .box1 .percent {
  width: 555px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.15);
}
.BXH .box1 .value {
  float: right;
  font-size: 13px;
}
.BXH .box1 img {
  margin-left: 5px;
  width: 15px;
  height: 15px;
}
.font {
  font-size: 13px;
  display: inline-flex;
  margin-bottom: 5px;
}
.BXH .box1 .percent .skills {
  display: flex;
}
.value1 {
  height: 12px;
  width: 70%;
  background-color: #18d26e;
}
.value2 {
  height: 12px;
  width: 60%;
  background-color: #18d26e;
}
.value3 {
  height: 12px;
  width: 60%;
  background-color: #18d26e;
}
.value4 {
  height: 12px;
  width: 30%;
  background-color: #18d26e;
}
.value5 {
  height: 12px;
  width: 70%;
  background-color: #18d26e;
}
.value6 {
  height: 12px;
  width: 55%;
  background-color: #18d26e;
}
.value7 {
  height: 12px;
  width: 50%;
  background-color: #18d26e;
}
.value8 {
  height: 12px;
  width: 55%;
  background-color: #18d26e;
}

.interest {
  position: relative;
  margin-top: 65px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.interest:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid rgb(26, 219, 26);
  width: 125px;
  top: 11px;
  left: 120px;
}

.border1 {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 2rem;
}
.border1 .box2 {
  background-color: rgba(255, 255, 255, 0.15);
  width: 250px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.border1 .box2 i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.TESTIMONIALS {
  position: relative;
  margin-top: 65px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}
.TESTIMONIALS:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid rgb(26, 219, 26);
  width: 125px;
  top: 11px;
  left: 155px;
}

.container-tes {
  margin-top: 1rem;
  display: flex;
  overflow-x: hidden;
}
.container-tes .page1 {
  overflow: hidden;
}
.container-tes .page2 {
  overflow: hidden;
}
.container-tes .box3 {
  background: rgba(255, 255, 255, 0.15);
  padding: 1.5rem;
  width: 360px;
  height: 220px;
  position: relative;
  border-radius: 10px;
  margin-left: 22px;
  margin-bottom: 115px;
}

.container-tes .box3 .review i {
  color: rgba(255, 255, 255, 0.3);
}
.container-tes .box3 .review {
  color: rgba(255, 255, 255, 0.8);
  font-style: italic;
  font-size: 18px;
  margin-left: 5px;
}
.container-tes .box3 .author {
  position: absolute;
  bottom: -4.5rem;
}
.container-tes .box3 .author img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 6px solid rgba(255, 255, 255, 0.2);
}
.container-tes .box3 .author h3 {
  color: #fff;
}
.container-tes .box3 .author h4 {
  color: rgba(255, 255, 255, 0.6);
}
input {
  display: none;
}
.page {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.page label {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

#page1:checked ~ .page .page1,
#page2:checked ~ .page .page2 {
  background-color: #18d26e;
}
input[type="radio"][id="page1"]:checked ~ .container-tes .page2 {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
input[type="radio"][id="page2"]:checked ~ .container-tes .page1 {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
