* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  position: relative;
  background: grey url("./../img/bg.jpg") top right no-repeat;
  background-size: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}
h1 {
  font-size: 48px;
  color: #fff;
}

#home {
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-gap: 1.5rem;
}

#home p {
  font-size: 24px;
  color: #fff;
  animation: slider 2s steps(30) infinite, blink 0.5s infinite;
  width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
}

@keyframes slider {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border: none;
  }
}

.menu-header a {
  position: relative;
  font-size: 20px;
}

.menu-header a::before {
  content: " ";
  position: absolute;
  width: 0px;
  bottom: -5px;
  left: 0;
  height: 3px;
  background-color: #18d26e;
  visibility: hidden;
  transition: all 0.2s ease-out;
}
.menu-header a:hover:before,
.menu-header .active > a:before {
  visibility: visible;
  width: 80%;
}
.menu-header a:hover,
.menu-header .active > a {
  color: #fff;
  text-decoration: none;
}

ul {
  display: flex;
  grid-gap: 2rem;
}

.icons {
  display: flex;
  grid-gap: 1rem;
}

.icons a {
  padding: 0.75rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.5s ease-in;
}

.icons a:hover {
  background-color: #18d26e;
}
