@import url("./header.css");

.main {
  width: 1140px;
  margin: 8rem auto 3rem;
  background: rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
}
.main h1 {
  color: #fff;
}
.container-main {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-gap: 1.5rem;
}
.container-main .box {
  text-align: center;
  background: rgba(204, 204, 204, 0.15);
  width: 340px;
  height: 340px;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
}
.container-main .box h4 {
  margin-bottom: 15px;
  font-size: 24px;
}
.container-main .box h4 a {
  text-decoration: none;
  color: #fff;
}
.container-main .box p {
  color: #fff;
  line-height: 24px;
  font-size: 14px;
}

.container-main .box .icon {
  position: relative;
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #18d26e;
  border-radius: 5px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}
.container-main .box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  transition: 0.3s;
  transform: translateZ(-1px);
}
.container-main .box .icon i {
  color: #fff;
  font-size: 28px;
}
.container-main .box:hover {
  background: #18d26e;
}
.container-main .box:hover .icon {
  background: #fff;
}
.container-main .box:hover .icon i {
  color: #18d26e;
}
.container-main .box:hover .icon::before {
  background: #35e888;
}
